/*reset css*/
body{
    font-family: "microsoft yahei",sans-serif;
    font-size: 14px;
    color: #333333;
    /*background-color: #CCCCCC;*/
}
input,textarea{
    border: none;
    outline: none;
    /*//不允许改变尺寸*/
    resize: none;
    /*元素的外观 none没有任何样式*/
    -webkit-appearance: none;
}
ol,ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333333;
}
a:hover{
    text-decoration: none;
    color: #333333;
}
.float_left{
    float: left;
}
.float_right{
    float: right;
}
/*index css*/
/*header部分*/
.zdm-topbar{
    height: 175px;
    background: #212121;
}
/*导航栏*/
.zdm-nav{
    padding: 30px;
    background-color: #fff;
    margin-top: -73px;
    border-radius: 5px;
    box-shadow: 0 0 1px #3c3c3c;
}
.zdm-nav  .nav-tabs {
    /*border-bottom: 1px solid #ddd;*/
    border-bottom: none;
}
.zdm-nav  .nav-tabs > li {
    float: left;
    /*margin-bottom: -1px;*/
    margin-bottom:1px;
}
.zdm-nav  .nav-tabs > li > a {
    /*margin-right: 10px;*/
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.zdm-nav  .nav-tabs > li > a:hover {
    /*border-color: #eee #eee #ddd;*/
    color: #212121;
    border: none;
    border-bottom: 2px solid #212121;
    background-color: #fff;
}
.zdm-nav  .nav-tabs > li.active > a,
.zdm-nav  .nav-tabs > li.active > a:hover,
.zdm-nav  .nav-tabs > li.active > a:focus {
    color: #212121;
    cursor: default;
    background-color: #fff;
    /*border: 1px solid #ddd;*/
    /*border-bottom-color: transparent;*/
    border: none;
    border-bottom: 2px solid #212121;
}
.zdm-nav .tab-content{
    position: relative;
}
.zdm-nav .tab-content input{
    padding-top: 20px;
    padding-left: 30px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #CCCCCC;
    position: relative;
}
.zdm-nav .tab-content span{
    position: absolute;
    left: 0px;
    top: 23px;
    font-size: 16px;
    color: #ccc;
    font-weight: normal;
}
.zdm-nav .tab-content .popover{
    color: #cc995a;
}
.zdm-nav .zdm-search-history{
    cursor: pointer;
}
.zdm-nav .zdm-search-history ul li{
    padding-top: 10px;
}
.zdm-nav .zdm-search-history ul li span:hover{
    border-bottom: 1px solid #ddd;
}
.zdm-nav .zdm-search-history ul li a{
    float: right;
}
.zdm-nav .zdm-search-history ul li a:hover,
.zdm-nav .zdm-search-history .clear-all a:hover{
    border-bottom: 1px solid #f00;
}
 .zdm-nav .zdm-search-history .clear-all{
     text-align: center;
 }