/*reset css*/
body{
    font-family: "microsoft yahei",sans-serif;
    font-size: 14px;
    color: #333333;
    /*background-color: #CCCCCC;*/
}
html,body {
    height:100%;
    width:100%;
    overflow:hidden;
    margin:0;
    padding:0;
}
/*清除浮动*/
.clearfix::before,
.clearfix::after{
    display: block;
    content: "";
    height: 0px;
    line-height: 0px;
    visibility: hidden;
    clear: both;
}
.clearfix {
    zoom: 1;
}
li a {
    text-align: center;
}
input,textarea{
    border: none;
    outline: none;
    /*//不允许改变尺寸*/
    resize: none;
    /*元素的外观 none没有任何样式*/
    -webkit-appearance: none;
}
ol,ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333333;
}
a:hover{
    text-decoration: none;
    color: #333333;
}
.float_left{
    float: left;
}
.float_right{
    float: right;
}
/*index css*/
.navbar-default .navbar-toggle {
    background-color: white;
}
.navbar-default .navbar-toggle {
    border-color: white;
}
.navbar-header {
    background-color: white;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: white;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #212121;
    width: 16px;
}
/*header部分*/
.zdm-topbar{
    height: 175px;
    background: #212121;
}
.notice-info{
    margin-top: 10px;
    background: rgba(255,0,0,.7);
    padding: 5px 5px;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    overflow: hidden;
    text-align: center;
    /*line-height: 30px;*/
}
.notice-info .notice-content{
    text-align: left;
}
.notice-info span{
    font-size: 16px;
    margin-top: 3px;
}

/*导航栏*/
.zdm-nav{
    padding: 30px;
    background-color: #fff;
    margin-top: -73px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px #ddd;
}
.zdm-nav  .nav-tabs {
    /*border-bottom: 1px solid #ddd;*/
    border-bottom: none;
}
.zdm-nav  .nav-tabs > li {
    float: left;
    /*margin-bottom: -1px;*/
    margin-bottom:1px;
}
.zdm-nav  .nav-tabs > li > a {
    /*margin-right: 10px;*/
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.zdm-nav  .nav-tabs > li > a:hover {
    /*border-color: #eee #eee #ddd;*/
    color: #212121;
    border: none;
    border-bottom: 2px solid #212121;
    background-color: #fff;
}
.zdm-nav  .nav-tabs > li.active > a,
.zdm-nav  .nav-tabs > li.active > a:hover,
.zdm-nav  .nav-tabs > li.active > a:focus {
    color: #212121;
    cursor: default;
    background-color: #fff;
    /*border: 1px solid #ddd;*/
    /*border-bottom-color: transparent;*/
    border: none;
    border-bottom: 2px solid #212121;
}
.zdm-nav .tab-content{
    position: relative;
}
.zdm-nav .tab-content input{
    padding-top: 20px;
    padding-left: 30px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #CCCCCC;
    position: relative;
}
.zdm-nav .tab-content span{
    position: absolute;
    left: 0px;
    top: 23px;
    font-size: 16px;
    color: #ccc;
    font-weight: normal;
}
.zdm-nav .tab-content .popover{
    color: #cc995a;
}
.zdm-nav .zdm-search-history{
    cursor: pointer;
}
.zdm-nav .zdm-search-history ul li{
    padding-top: 10px;
}
.zdm-nav .zdm-search-history ul li a{
    float: right;
}
/*.zdm-nav .zdm-search-history ul li a:hover,*/
/*.zdm-nav .zdm-search-history .clear-all a:hover{*/
    /*border-bottom: 1px solid #f00;*/
/*}*/
 .zdm-nav .zdm-search-history .clear-all{
     text-align: center;
 }
.zdm-nav .zdm-search-history .clear-all{
    margin-bottom: -20px;
}

.zdm-footer.weui-footer{
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
}