/*reset css*/
body{
    font-family: "microsoft yahei",sans-serif;
    font-size: 14px;
    color: #333333;
    /*background-color: #CCCCCC;*/
}
input,textarea{
    border: none;
    outline: none;
    /*//不允许改变尺寸*/
    resize: none;
    /*元素的外观 none没有任何样式*/
    -webkit-appearance: none;
}
ol,ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333333;
}
a:hover{
    text-decoration: none;
    color: #333333;
}
.float_left{
    float: left;
}
.float_right{
    float: right;
}

/*字体图标*/
/*自定义字体图标*/
/*1.通过@font-face定义自己的字体*/
@font-face {
    /*2.申明自己的字体名称*/
    font-family: 'wjs';
    /*3.引入字体文件（约束某一段字符代码什么图案）*/
    src:
            /*url双引号可加可不加*/
            url("../fonts/MiFie-Web-Font.svg") format('svg'),
            url("../fonts/MiFie-Web-Font.eot") format('embedded-opentype'),
            url("../fonts/MiFie-Web-Font.ttf") format('truetype'),
            url("../fonts/MiFie-Web-Font.woff") format('woff');
}
.wjs_font{
    font-family: wjs;
}
.wjs_icon_phone::before{
    /*必须是双引号*/
    content: "\e908";
}
.wjs_icon_tel::before {
    content: "\e909";
}
.wjs_icon_logo::before {
    content: "\e920";
}
.wjs_icon_dollar::before {
    content: "\e903";
}
.wjs_icon_clock::before {
    content: "\e906";
}
.wjs_icon_video::before {
    content: "\e905";
}

/*index css*/
/*header部分*/
.zdm-topbar{
    height: 150px;
    background: #212121;
    /*background: url("../images/top-bg.jpg") center/cover no-repeat;*/
}

/*导航栏*/
.zdm-nav{
    padding: 30px;
    background-color: #fff;
    margin-top: -73px;
    border-radius: 5px;
    box-shadow: 0 0 1px #3c3c3c;
}
.zdm-nav  .nav-tabs {
    /*border-bottom: 1px solid #ddd;*/
    border-bottom: none;
}
.zdm-nav  .nav-tabs > li {
    float: left;
    /*margin-bottom: -1px;*/
    margin-bottom:1px;
}
.zdm-nav  .nav-tabs > li > a {
    /*margin-right: 10px;*/
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.zdm-nav  .nav-tabs > li > a:hover {
    /*border-color: #eee #eee #ddd;*/
    color: #212121;
    border: none;
    border-bottom: 2px solid #212121;
    background-color: #fff;
}
.zdm-nav  .nav-tabs > li.active > a,
.zdm-nav  .nav-tabs > li.active > a:hover,
.zdm-nav  .nav-tabs > li.active > a:focus {
    color: #212121;
    cursor: default;
    background-color: #fff;
    /*border: 1px solid #ddd;*/
    /*border-bottom-color: transparent;*/
    border: none;
    border-bottom: 2px solid #212121;
}
.zdm-nav .tab-content{
    position: relative;
}
.zdm-nav .tab-content input{
    padding-top: 20px;
    padding-left: 30px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #CCCCCC;
    position: relative;
}
.zdm-nav .tab-content span{
    position: absolute;
    left: 0px;
    top: 23px;
    font-size: 16px;
    color: #333;
    font-weight: normal;
}
.zdm-nav .tab-content .popover{
    color: red;
}